<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sweep Data Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            background-color: #f8f9fa;
            color: #333;
        }
        h1, h2, h3 {
            color: #333;
        }
        h1 {
            border-bottom: 2px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .section {
            margin-bottom: 40px;
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        img {
            max-width: 100%;
            height: auto;
            cursor: pointer;
            transition: transform 0.2s;
        }
        img:hover {
            transform: scale(1.05);
        }
        .img-container {
            margin-bottom: 20px;
        }
        .table-container {
            overflow-x: auto;
        }
        .error {
            color: red;
            margin-top: 10px;
        }
        .loader {
            border: 5px solid #f3f3f3;
            border-radius: 50%;
            border-top: 5px solid #3498db;
            width: 30px;
            height: 30px;
            animation: spin 1s linear infinite;
            display: none;
            margin: 0 auto;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        #drop-zone, #video-drop-zone {
            border: 2px dashed #007bff;
            padding: 30px;
            text-align: center;
            cursor: pointer;
            margin-bottom: 20px;
        }
        #drop-zone.hover, #video-drop-zone.hover {
            background-color: #e9ecef;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Sweep Data Analysis</h1>

        <div id="drop-zone">Drag and drop log files or zipped directory containing log files here</div>
        <div id="uploadLoader" class="loader"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="snDropdown">Select SN:</label>
                    <select class="form-control" id="snDropdown">
                        <option value="">-- Select SN --</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="date" class="form-control" id="startDate">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="date" class="form-control" id="endDate">
                </div>
            </div>
        </div>

        <div class="text-center mb-3">
            <button class="btn btn-primary" onclick="updateData()">Submit</button>
        </div>
        <div id="errorMessage" class="error text-center"></div>
        <div id="loader" class="loader"></div>

        <div id="snData" class="section" style="display:none;">
            <h2 id="snTitle"></h2>
            <p><strong>Total Fuel Consumed:</strong> <span id="totalFuel"></span></p>
            <p><strong>Number of Files Processed:</strong> <span id="numOfFiles"></span></p>
            
            <h3>Nozzle Statistics:</h3>
            <div class="table-container">
                <table id="nozzleStats" class="table"></table>
            </div>

            <h3>Statistics</h3>
            <div class="table-container">
                <table id="combinedStats" class="table"></table>
            </div>

            <h3>Graphs:</h3>
            <div id="graphs" class="row"></div>
        </div>

        <h2>Upload a Video</h2>
        <div id="video-drop-zone">Drag and drop a video file here</div>
        <div id="videoUploadLoader" class="loader"></div>
        <div id="videoContainer" class="section" style="display:none;">
            <h3>Uploaded Videos</h3>
            <div id="uploadedVideos"></div>
        </div>
    </div>

    <script>
        function updateData() {
            var sn = document.getElementById('snDropdown').value;
            var startDate = document.getElementById('startDate').value;
            var endDate = document.getElementById('endDate').value;
            var errorMessage = document.getElementById('errorMessage');
            var loader = document.getElementById('loader');

            if (!sn || !startDate || !endDate) {
                errorMessage.textContent = 'Please select SN, start date, and end date.';
                return;
            }

            errorMessage.textContent = '';
            document.getElementById('snData').style.display = 'none';
            loader.style.display = 'block';

            fetch(`/get_data?sn=${sn}&start=${startDate}&end=${endDate}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('snTitle').textContent = `${sn}`;
                    document.getElementById('totalFuel').textContent = data.total_fuel_consumed;
                    document.getElementById('numOfFiles').textContent = data.num_of_files;

                    var headerCellStyle = "font-weight: bold;";
                    var nozzleTable = document.getElementById('nozzleStats');
                    nozzleTable.innerHTML = '';
                    var nozzleHeaderRow = nozzleTable.insertRow();
                    nozzleHeaderRow.insertCell(0).innerHTML = '<span style="' + headerCellStyle + '">Metric</span>';
                    nozzleHeaderRow.insertCell(1).innerHTML = '<span style="' + headerCellStyle + '">Value</span>';
                    for (var key in data.nozgapopen_stats_dict) {
                        var row = nozzleTable.insertRow();
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        cell1.textContent = key;
                        cell2.textContent = data.nozgapopen_stats_dict[key];
                    }

                    var combinedTable = document.getElementById('combinedStats');
                    combinedTable.innerHTML = '';
                    var combinedHeaderRow = combinedTable.insertRow();
                    combinedHeaderRow.insertCell(0).innerHTML = '<span style="' + headerCellStyle + '">Metric</span>';
                    combinedHeaderRow.insertCell(1).innerHTML = '<span style="' + headerCellStyle + '">All Data</span>';
                    combinedHeaderRow.insertCell(2).innerHTML = '<span style="' + headerCellStyle + '">Nozzle Open</span>';
                    combinedHeaderRow.insertCell(3).innerHTML = '<span style="' + headerCellStyle + '">Nozzle Closed</span>';
                    for (var metric in data.fuel_dicts['All Data']) {
                        var row = combinedTable.insertRow();
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        cell1.textContent = metric;
                        cell2.textContent = data.fuel_dicts['All Data'][metric];
                        cell3.textContent = data.fuel_dicts['Nozzle Open'][metric];
                        cell4.textContent = data.fuel_dicts['Nozzle Closed'][metric];
                    }

                    var graphsContainer = document.getElementById('graphs');
                    graphsContainer.innerHTML = '';
                    data.graphs.forEach(graph => {
                        var img = document.createElement('img');
                        img.src = graph + '?t=' + new Date().getTime();
                        img.alt = 'Graph';
                        img.className = 'img-fluid';
                        img.onclick = function() {
                            openImageInNewWindow(graph);
                        };
                        var div = document.createElement('div');
                        div.className = 'col-md-4 img-container';
                        div.appendChild(img);
                        graphsContainer.appendChild(div);
                    });

                    document.getElementById('snData').style.display = 'block';
                    loader.style.display = 'none';
                })
                .catch(error => {
                    console.error('Error:', error);
                    errorMessage.textContent = 'Error fetching data. Please try again.';
                    loader.style.display = 'none';
                });
        }

        function openImageInNewWindow(src) {
            var newWindow = window.open("", "_blank", "width=1920,height=1080");
            newWindow.document.write("<html><head><title>Graph</title></head><body style='margin:0'><img src='" + src + "' style='width:100%; height:auto;'></body></html>");
        }

        function handleDrop(event) {
            event.preventDefault();
            event.stopPropagation();
            var dropZone = document.getElementById('drop-zone');
            var uploadLoader = document.getElementById('uploadLoader');
            dropZone.classList.remove('hover');
            uploadLoader.style.display = 'block';

            var files = event.dataTransfer.files;
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }

            fetch('/upload_files', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                uploadLoader.style.display = 'none';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error uploading files. Please try again.');
                uploadLoader.style.display = 'none';
            });
        }

        function handleDragOver(event) {
            event.preventDefault();
            event.stopPropagation();
            var dropZone = document.getElementById('drop-zone');
            dropZone.classList.add('hover');
        }

        function handleDragLeave(event) {
            event.preventDefault();
            event.stopPropagation();
            var dropZone = document.getElementById('drop-zone');
            dropZone.classList.remove('hover');
        }

        function handleVideoDrop(event) {
            event.preventDefault();
            event.stopPropagation();
            var dropZone = document.getElementById('video-drop-zone');
            var uploadLoader = document.getElementById('videoUploadLoader');
            dropZone.classList.remove('hover');
            uploadLoader.style.display = 'block';

            var files = event.dataTransfer.files;
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append('video', files[i]);
            }

            fetch('/upload_video', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.video_urls && data.video_urls.length > 0) {
                    var videoContainer = document.getElementById('videoContainer');
                    var uploadedVideos = document.getElementById('uploadedVideos');
                    uploadedVideos.innerHTML = '';
                    data.video_urls.forEach(url => {
                        
                        var video = document.createElement('video');
                        video.src = url;
                        video.width = 600;
                        video.controls = true;
                        uploadedVideos.appendChild(video);
                        video.type = 'video/mp4';
                    });
                    videoContainer.style.display = 'block';
                }
                uploadLoader.style.display = 'none';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error uploading video. Please try again.');
                uploadLoader.style.display = 'none';
            });
        }

        function handleVideoDragOver(event) {
            event.preventDefault();
            event.stopPropagation();
            var dropZone = document.getElementById('video-drop-zone');
            dropZone.classList.add('hover');
        }

        function handleVideoDragLeave(event) {
            event.preventDefault();
            event.stopPropagation();
            var dropZone = document.getElementById('video-drop-zone');
            dropZone.classList.remove('hover');
        }

        document.addEventListener("DOMContentLoaded", function() {
            fetch('/get_sns')
                .then(response => response.json())
                .then(data => {
                    var snDropdown = document.getElementById('snDropdown');
                    snDropdown.innerHTML = '<option value="">-- Select SN --</option>';
                    data.sns.forEach(sn => {
                        var option = document.createElement('option');
                        option.value = sn;
                        option.textContent = sn;
                        snDropdown.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));

            var dropZone = document.getElementById('drop-zone');
            dropZone.addEventListener('drop', handleDrop);
            dropZone.addEventListener('dragover', handleDragOver);
            dropZone.addEventListener('dragleave', handleDragLeave);

            var videoDropZone = document.getElementById('video-drop-zone');
            videoDropZone.addEventListener('drop', handleVideoDrop);
            videoDropZone.addEventListener('dragover', handleVideoDragOver);
            videoDropZone.addEventListener('dragleave', handleVideoDragLeave);
        });
    </script>
</body>
</html>
